@font-face {
  font-family: Futura;
  src: url("/fonts/FuturaLight.woff2") format("woff2"),
    url("/fonts/FuturaLight.woff") format("woff");
}

@font-face {
  font-family: Futura;
  src: url("/fonts/FuturaBold.woff2") format("woff2"),
    url("/fonts/FuturaBold.woff") format("woff");
  font-weight: bold;
}

* {
  font-family: Futura, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #1e1e1e;
  margin: 0;
}

button {
  background: none;
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
  transition: 0.25s transform;
}

button:hover {
  transform: scale(1.1);
}

button:disabled {
  background-color: black;
  color: white;
  cursor: not-allowed;
}
