.connect {
  background: none;
  background-image: url(/images/user-icon.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 36px auto;
  border: none;
  color: transparent;
  height: 36px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 36px;
}

.connect.metamask {
  background-image: url(/images/metamask-logo.svg);
}

.connect.polis {
  background-image: url(/images/polis-logo.png);
}

.header {
  align-items: center;
  color: white;
  display: flex;
  height: 100px;
  left: 0;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.logo {
  background-image: url(/images/starledger-logo.svg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: auto 36px;
  font-size: 22px;
  font-weight: normal;
  height: 36px;
  left: 20px;
  margin: 0;
  padding-left: 37px;
  position: fixed;
  text-transform: uppercase;
  top: 20px;
}

.logo a:hover {
  text-decoration: none;
}

.logo span {
  color: #c1ab70;
}

.menu {
  display: flex;
  list-style: none;
}

.menuItem {
  margin: 0 20px 0 0;
}

.network {
  margin-right: 20px;
}

.user {
  align-items: center;
  display: flex;
  position: fixed;
  right: 20px;
  top: 20px;
}

.wrapper {
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .connect {
    background-size: auto 48px;
    height: 48px;
    width: 48px;
  }

  .logo {
    background-image: url(/images/starledger-icon.svg);
    background-size: auto 48px;
    height: 48px;
    left: 10px;
    overflow: hidden;
    padding: 0;
    top: 10px;
    width: 48px;
  }

  .logo a {
    color: transparent;
    display: block;
    height: 100%;
    width: 100%;
  }

  .network {
    display: none;
  }

  .user {
    right: 10px;
    top: 10px;
  }
}