@keyframes fade {
  0% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}

.constellation:hover {
  stroke: #c1ab70;
}

.constellations {
  pointer-events: none;
}

.details {
  bottom: 20px;
  color: white;
  display: flex;
  left: 20px;
  min-width: 200px;
  position: fixed;
  transition: background-color .2s;
}

.details h3 {
  font-size: 32px;
  margin: 0 0 20px 0;
}

.details h4 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.error {
  align-items: center;
  animation: slideIn 0.5s;
  background-color: #EF7A85;
  color: white;
  display: flex;
  font-size: 18px;
  left: 0;
  padding: 10px 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
}

.error a {
  border-bottom: 1px dotted #000;
  color: white;
  padding-bottom: 1px;
  white-space: nowrap;
}

.error a:hover {
  color: black;
  text-decoration: none;
}

.errorClose {
  align-items: center;
  background: none;
  border-radius: 50%;
  border: none;
  color: black;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  height: 32px;
  margin: 0;
  padding: 0;
  width: 32px;
}

.errorMessage {
  flex-grow: 1;
  padding: 0 20px 0 0;
}

.footer {
  bottom: 20px;
  color: white;
  font-size: 12px;
  position: fixed;
  right: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  z-index: 999;
}

.footer a:hover {
  text-decoration: none;
}

.modalButtonError {
  color: red;
  font-size: 12px;
  text-align: center;
}

.modalButtons {
  display: flex;
  justify-content: center;
};

.results {
  color: white;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

.results button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 20px;
  text-align: left;
  width: 100%;
}

.results li {
  margin: 0;
  padding: 0;
}

.search {
  left: calc(50% - 170px);
  position: fixed;
  top: 16px;
  width: 300px;
  z-index: 999;
}

.search input {
  background: none;
  background-color: rgba(255, 255, 255, .1);
  background-image: url(/images/search-icon.svg);
  background-position: center right 20px;
  background-repeat: no-repeat;
  background-size: 18px auto;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0;
  width: 300px;
}

.search input:focus {
  background-color: rgba(255, 255, 255, .25);
}

.sky {
  display: block;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

.starInfo {
  margin-bottom: 20px;
}

.starInfoBuy button {
  background-color: #c1ab70;
  color: black;
}

.starInfoField {
  margin-bottom: 10px;
}

.starInfoKey {
  color: #c1ab70;
  font-size: 10px;
  text-transform: uppercase;
}

.starInfoValue {
  font-weight: bold;
}

.starInfoKey,
.starInfoValue {
  display: block;
}

.star {
  cursor: pointer;
}

.star.selected {
  animation: fade 2s infinite linear;
  stroke: #c1ab70;
  stroke-width: 0.5px;
}

.zoom {
  display: none;
  left: 20px;
  position: fixed;
  top: 100px;
}

.zoom button {
  border-radius: 5px;
  display: block;
  font-size: 18px;
  height: 50px;
  margin: 10px 0;
  width: 50px;
}

@media screen and (max-width: 800px) {
  .search {
    left: calc(50% - 120px);
    top: 13px;
    width: 200px;
  }

  .search input {
    width: 200px;
  }
}

/* modals */

.invalidNetworkModal div {
  display: flex;
  justify-content: flex-end;
}

.invalidNetworkModal ul {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}

.invalidNetworkModal ul li {
  margin: 0;
  padding: 0;
}

.invalidNetworkModal ul li span {
  color: red;
}
